<p> Welcome, <%= current_user.username %>

<br>
<br>
<a href="/tweets/new"> Create a new tweet</a>
<br>
<a href="/logout">Log Out</a>
<br>

<h2> Here are all the tweets: </h2>

<% if @tweets.length==0 %>
  <p>
    (There are no tweets yet)
  </p>
<% else %>
  <% @tweets.each do |tweet| %>
    <div>
      <p><%= tweet.user_id %> tweeted: <%= tweet.content %></p>
    </div>
  <% end %>

<% end %>
